.gitconfig
.config/gh
.config/fish/functions
.config/fish/conf.d
.config/atuin
.config/lazygit
.config/nvim/lazy-lock.json
.asdf/
.local/
.cache/
.config/emacs/.cache/
.config/emacs/elpa/
.config/emacs/auto-save-list/
